nav {
  display: flex;
  justify-content: space-around;
  min-height: 65px;
  align-items: center;
  background-color : lightseagreen  }

  .nav-items{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  list-style: none;
  color : rgb(255, 255, 255);
  }

  .rocket{
    background-color: rgb(156, 157, 160);
    padding: 2%;
    margin: 2px;;
  }
